Repository edgard/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: tofu-validate, helm-lint

tofu-validate:
  name: Terraform validate with tofu
  entry: bash -c 'cd terraform && tofu init -backend=false >/dev/null 2>&1 && tofu validate'
  language: system
  pass_filenames: false

helm-lint:
  name: Helm chart validation
  entry: .scripts/helm-lint.sh
  language: script
  pass_filenames: true

refactor: optimize CLAUDE.md structure and clarity
  CLAUDE.md
Due: none

feat(app): add cliproxyapi
  apps/selfhosted/cliproxyapi/config.yaml
  apps/selfhosted/cliproxyapi/manifests/cliproxyapi-credentials.externalsecret.yaml
  apps/selfhosted/cliproxyapi/values.yaml
Due: helm-lint

feat(apps): add paperless-gpt and remove n8n
  AGENTS.md
  CLAUDE.md
  apps/selfhosted/n8n/config.yaml
  apps/selfhosted/n8n/manifests/n8n-credentials.externalsecret.yaml
  apps/selfhosted/n8n/values.yaml
  apps/selfhosted/paperless/manifests/paperless-credentials.externalsecret.yaml
  apps/selfhosted/paperless/values.yaml
Due: helm-lint

chore(deps): update dependencies (non-major)
  .github/workflows/renovate.yaml
  apps/argocd/argocd/config.yaml
  apps/selfhosted/cliproxyapi/values.yaml
  apps/selfhosted/karakeep/values.yaml
  apps/selfhosted/paperless/values.yaml
Due: helm-lint

fix(homepage): link cliproxyapi management
  apps/selfhosted/cliproxyapi/values.yaml
Due: none

chore(deps): update eceasy/cli-proxy-api docker tag to v6.7.27
  apps/selfhosted/cliproxyapi/values.yaml
Due: none

fix(paperless-gpt): blacklist correspondents
  apps/selfhosted/paperless/manifests/paperless-credentials.externalsecret.yaml
  apps/selfhosted/paperless/values.yaml
Due: none

chore(deps): update getmeili/meilisearch docker tag to v1.34.3
  apps/selfhosted/karakeep/values.yaml
Due: none

chore(ha): remove lights blacklist
  apps/home-automation/matterbridge/values.yaml
Due: none

chore(deps): update eceasy/cli-proxy-api docker tag to v6.7.31
  apps/selfhosted/cliproxyapi/values.yaml
Due: none

chore(deps): update dependencies (non-major)
  apps/selfhosted/cliproxyapi/values.yaml
  apps/selfhosted/paperless/values.yaml
Due: none

chore(deps): update renovatebot/github-action action to v46
  .github/workflows/renovate.yaml
Due: none

chore(deps): update dependencies (non-major)
  apps/home-automation/matterbridge/values.yaml
  apps/selfhosted/cliproxyapi/values.yaml
Due: none

chore(deps): update renovatebot/github-action action to v46 (#113)
  .github/workflows/renovate.yaml
Due: none

chore(deps): update eceasy/cli-proxy-api docker tag to v6.7.41
  apps/selfhosted/cliproxyapi/values.yaml
Due: none

chore(deps): update dependencies (non-major)
  .github/workflows/renovate.yaml
  apps/home-automation/zigbee2mqtt/values.yaml
  apps/media/bazarr/values.yaml
Due: none

chore(mb): remove illuminance blacklist, rename repeater
  apps/home-automation/matterbridge/values.yaml
Due: none

Remove cliapiproxy app
  AGENTS.md
  apps/selfhosted/cliproxyapi/config.yaml
  apps/selfhosted/cliproxyapi/manifests/cliproxyapi-credentials.externalsecret.yaml
  apps/selfhosted/cliproxyapi/values.yaml
Due: helm-lint

chore(deps): update dependencies (non-major)
  apps/argocd/argocd/config.yaml
  apps/kube-system/nfs-provisioner/config.yaml
  apps/platform-system/cert-manager/config.yaml
  apps/selfhosted/karakeep/values.yaml
Due: helm-lint

Adjust restic retention policy
  apps/selfhosted/restic/values.yaml
Due: none

chore(deps): update ghcr.io/external-secrets/charts/external-secrets docker tag to v1.3.2
  apps/platform-system/external-secrets/config.yaml
Due: helm-lint

chore(deps): update dependencies (non-major)
  apps/home-automation/homeassistant/values.yaml
  apps/platform-system/homelab-controller/values.yaml
  terraform/main.tf
Due: tofu-validate

Remove obsolete automation bridges
  AGENTS.md
  apps/home-automation/matterbridge/config.yaml
  apps/home-automation/matterbridge/manifests/matterbridge-credentials.externalsecret.yaml
  apps/home-automation/matterbridge/values.yaml
  apps/home-automation/mosquitto/config.yaml
  apps/home-automation/mosquitto/values.yaml
  apps/home-automation/zigbee2mqtt/config.yaml
  apps/home-automation/zigbee2mqtt/values.yaml
Due: helm-lint

chore(deps): update dependencies (non-major)
  apps/argocd/argocd/config.yaml
  apps/platform-system/tailscale-router/values.yaml
  apps/selfhosted/homepage/values.yaml
Due: helm-lint

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2026.2.1
  apps/home-automation/homeassistant/values.yaml
Due: none

chore(deps): update ghcr.io/external-secrets/charts/external-secrets docker tag to v2
  apps/platform-system/external-secrets/config.yaml
Due: helm-lint

Switch apps to OpenAI API
  apps/selfhosted/karakeep/manifests/karakeep-credentials.externalsecret.yaml
  apps/selfhosted/karakeep/values.yaml
  apps/selfhosted/paperless/manifests/paperless-credentials.externalsecret.yaml
  apps/selfhosted/paperless/values.yaml
Due: none

fix(argo): use secret from eso
  apps/argocd/argocd/config.yaml
  apps/argocd/argocd/values.yaml
  argocd/appsets/apps.appset.yaml
Due: helm-lint

chore(deps): update dependencies (non-major)
  .github/workflows/renovate.yaml
  apps/media/plextraktsync/values.yaml
Due: none

chore(deps): update ghcr.io/external-secrets/charts/external-secrets docker tag to v2 (#114)
  apps/platform-system/external-secrets/config.yaml
Due: helm-lint

Enable host tty for homeassistant
  apps/home-automation/homeassistant/values.yaml
Due: none

chore(deps): update ghcr.io/atuinsh/atuin docker tag to v18.12.0
  apps/selfhosted/atuin/values.yaml
Due: none

Fix atuin args
  apps/selfhosted/atuin/values.yaml
Due: none

chore(deps): update docker.io/library/redis docker tag to v8.6.0
  apps/selfhosted/paperless/values.yaml
Due: none

chore(deps): update dependencies (non-major)
  apps/kube-system/nfs-provisioner/config.yaml
  apps/media/qbittorrent/values.yaml
  terraform/main.tf
Due: tofu-validate, helm-lint

chore(deps): update dependencies (non-major)
  .github/workflows/renovate.yaml
  apps/platform-system/external-dns/values.yaml
  terraform/main.tf
Due: tofu-validate

feat(renovate): replace renovate job with operator
  .github/workflows/renovate.yaml
  AGENTS.md
  apps/selfhosted/renovate-operator/config.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-credentials.externalsecret.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
  apps/selfhosted/renovate-operator/values.yaml
Due: helm-lint

chore(deps): update dependencies (non-major)
  apps/argocd/argocd/config.yaml
  apps/home-automation/homeassistant/values.yaml
  apps/platform-system/reloader/config.yaml
Due: helm-lint

fix(gitops): place reloader annotations on workloads
  apps/argocd/argocd/values.yaml
  apps/home-automation/homeassistant/values.yaml
  apps/media/plex/values.yaml
  apps/media/plextraktsync/values.yaml
  apps/platform-system/external-secrets/values.yaml
  apps/platform-system/tailscale-router/values.yaml
  argocd/appsets/apps.appset.yaml
Due: none

Path conditions:
  tofu-validate: any of: ^(terraform/.*\.tf|.*\.tf)$
  helm-lint: any of: ^apps/[^/]+/[^/]+/config\.yaml$
