Repository edgard/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: tofu-validate, helm-lint

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages:
  - pre-commit
fail_fast: false
repos:
  # Phase 1: Quick syntax/validation checks (fail fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args:
          - "--unsafe"
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args:
          - "--maxkb=1000"
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-case-conflict

  # Phase 2: Auto-fixes (prepare files)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args:
          - "--fix=lf"

  # Phase 3: Linters
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - "--config-file"
          - ".yamllint"
  - repo: local
    hooks:
      - id: tofu-validate
        name: Terraform validate with tofu
        entry: bash -c 'cd terraform && tofu init -backend=false >/dev/null 2>&1 && tofu validate'
        language: system
        files: ^(terraform/.*\.tf|.*\.tf)$
        pass_filenames: false
      - id: helm-lint
        name: Helm chart validation
        entry: .scripts/helm-lint.sh
        language: script
        files: ^apps/[^/]+/[^/]+/config\.yaml$
        pass_filenames: true

  # Phase 4: Language-specific linters
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args:
          - "--severity=warning"

chore(deps): update dependencies (non-major)
  apps/kube-system/k8tz/manifests/k8tz-wait-cert-manager.job.yaml
  apps/media/plextraktsync/values.yaml
  apps/platform-system/tailscale-router/values.yaml
  apps/selfhosted/renovate-operator/config.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
Due: helm-lint

chore(deps): update dependencies (non-major)
  apps/platform-system/istio-base/config.yaml
  apps/platform-system/istio/config.yaml
  apps/selfhosted/changedetection/values.yaml
  apps/selfhosted/karakeep/values.yaml
  apps/selfhosted/paperless/values.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
Due: helm-lint

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.24.2
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
Due: none

chore(deps): update dependencies (non-major)
  apps/argocd/argocd/config.yaml
  apps/selfhosted/changedetection/values.yaml
  apps/selfhosted/renovate-operator/config.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
Due: helm-lint

feat(home-automation): add bambuddy web deployment
  apps/home-automation/bambuddy/config.yaml
  apps/home-automation/bambuddy/values.yaml
Due: helm-lint

feat(selfhosted): add bambuddy web deployment
  apps/selfhosted/bambuddy/config.yaml
  apps/selfhosted/bambuddy/values.yaml
Due: helm-lint

feat(platform-system): add tuppr-managed upgrade workflow
  apps/platform-system/tuppr/config.yaml
  apps/platform-system/tuppr/manifests/tuppr-kubernetes.kubernetesupgrade.yaml
  apps/platform-system/tuppr/manifests/tuppr-talos.talosupgrade.yaml
  apps/platform-system/tuppr/values.yaml
  bootstrap/controlplane-patch.yaml
Due: helm-lint

chore(deps): update dependencies (non-major)
  apps/kube-system/multus/config.yaml
  apps/selfhosted/changedetection/values.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
  terraform/main.tf
Due: tofu-validate, helm-lint

chore(renovate): track Talos installer tags from upstream
  .renovaterc.json5
Due: none

chore(bambuddy): add missing homepadd icon
  apps/selfhosted/bambuddy/values.yaml
Due: none

chore(deps): update dependencies (non-major)
  apps/home-automation/homeassistant/values.yaml
  apps/platform-system/external-secrets/config.yaml
  apps/selfhosted/gatus/values.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
Due: helm-lint

chore(deps): update ghcr.io/recyclarr/recyclarr docker tag to v8
  apps/media/recyclarr/values.yaml
Due: none

chore(deps): update ghcr.io/recyclarr/recyclarr docker tag to v8 (#116)
  apps/media/recyclarr/values.yaml
Due: none

fix(media): migrate recyclarr config to v8 guide schema
  apps/media/recyclarr/manifests/recyclarr-config.configmap.yaml
Due: none

fix(media): migrate recyclarr config to v8 guide schema (#117)
  apps/media/recyclarr/manifests/recyclarr-config.configmap.yaml
Due: none

chore(deps): update dependencies (non-major)
  apps/media/recyclarr/values.yaml
  apps/platform-system/tuppr/config.yaml
  apps/selfhosted/bambuddy/values.yaml
  apps/selfhosted/changedetection/values.yaml
  apps/selfhosted/paperless/values.yaml
  apps/selfhosted/renovate-operator/config.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
Due: helm-lint

chore(deps): update dependencies (non-major)
  apps/argocd/argocd/config.yaml
  apps/media/recyclarr/values.yaml
  apps/selfhosted/karakeep/values.yaml
  apps/selfhosted/paperless/values.yaml
  apps/selfhosted/renovate-operator/config.yaml
Due: helm-lint

chore(deps): update dependencies (non-major)
  apps/selfhosted/bambuddy/values.yaml
  apps/selfhosted/changedetection/values.yaml
  apps/selfhosted/karakeep/values.yaml
  apps/selfhosted/paperless/values.yaml
  apps/selfhosted/renovate-operator/config.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
Due: helm-lint

chore(deps): update dependencies (non-major)
  apps/media/recyclarr/values.yaml
  apps/platform-system/cert-manager/config.yaml
  apps/selfhosted/renovate-operator/config.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
Due: helm-lint

refactor(bootstrap): externalize helmfile hooks into scripts
  Taskfile.yaml
  bootstrap/helmfile.yaml.gotmpl
  scripts/argo-sync.sh
  scripts/argocd-postsync.sh
  scripts/external-secrets-postsync.sh
  scripts/external-secrets-presync.sh
  scripts/helm-lint.sh
  scripts/prepare-bootstrap.sh
  scripts/talos-bootstrap.sh
  scripts/talos-gen.sh
  scripts/talos-upgrade.sh
Due: none

refactor(bootstrap): externalize helmfile hooks into scripts (#118)
  Taskfile.yaml
  bootstrap/helmfile.yaml.gotmpl
  scripts/argo-sync.sh
  scripts/argocd-postsync.sh
  scripts/external-secrets-postsync.sh
  scripts/external-secrets-presync.sh
  scripts/helm-lint.sh
  scripts/prepare-bootstrap.sh
  scripts/talos-bootstrap.sh
  scripts/talos-gen.sh
  scripts/talos-upgrade.sh
Due: none

chore(deps): update dependencies (non-major)
  apps/argocd/argocd/app.yaml
  apps/media/bazarr/values.yaml
  apps/media/recyclarr/values.yaml
  apps/selfhosted/paperless/values.yaml
  apps/selfhosted/renovate-operator/app.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
Due: none

chore(deps): update dependency kubernetes-sigs/gateway-api to v1.5.0
  apps/platform-system/gateway-api/manifests/gateway-api-crds.yaml
  apps/platform-system/gateway-api/manifests/gateway-api-version.configmap.yaml
Due: none

chore(deps): update dependency kubernetes-sigs/gateway-api to v1.5.0 (#120)
  apps/platform-system/gateway-api/manifests/gateway-api-crds.yaml
  apps/platform-system/gateway-api/manifests/gateway-api-version.configmap.yaml
Due: none

chore(deps): update dependencies (non-major)
  apps/platform-system/tuppr/app.yaml
  apps/selfhosted/bambuddy/values.yaml
  apps/selfhosted/changedetection/values.yaml
  apps/selfhosted/renovate-operator/app.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
Due: none

chore(deps): update dependencies (non-major)
  apps/argocd/argocd/app.yaml
  apps/kube-system/k8tz/manifests/k8tz-wait-cert-manager.job.yaml
  apps/selfhosted/changedetection/values.yaml
  apps/selfhosted/paperless/values.yaml
  apps/selfhosted/renovate-operator/app.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
  terraform/main.tf
Due: tofu-validate

chore(deps): update dependencies (non-major)
  apps/argocd/argocd/app.yaml
  apps/media/plextraktsync/values.yaml
  apps/media/unpackerr/values.yaml
  apps/platform-system/tuppr/app.yaml
  apps/selfhosted/karakeep/values.yaml
  apps/selfhosted/renovate-operator/app.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
Due: none

chore(deps): update dependencies (non-major)
  apps/home-automation/homeassistant/values.yaml
  apps/media/recyclarr/values.yaml
  apps/platform-system/reloader/app.yaml
  apps/selfhosted/changedetection/values.yaml
  apps/selfhosted/paperless/values.yaml
  apps/selfhosted/renovate-operator/app.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
Due: none

chore(deps): update dependencies (non-major)
  apps/home-automation/homeassistant/values.yaml
  apps/kube-system/k8tz/app.yaml
  apps/platform-system/external-secrets/app.yaml
  apps/selfhosted/renovate-operator/app.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
Due: none

build: simplify the repo quality gate
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  Taskfile.yaml
  scripts/validate-appset-inputs.sh
  scripts/validate-helm-apps.sh
  tests/argo-sync.bats
  tests/argocd-postsync.bats
  tests/external-secrets-postsync.bats
  tests/external-secrets-presync.bats
  tests/helm-lint.bats
  tests/helpers/test_helper.bash
  tests/prepare-bootstrap.bats
  tests/talos-bootstrap.bats
  tests/talos-gen.bats
  tests/talos-upgrade.bats
  tests/validate-appset-inputs.bats
Due: none

build: separate static checks from integration tests
  AGENTS.md
  README.md
  Taskfile.yaml
Due: none

chore: group task targets by workflow
  Taskfile.yaml
Due: none

ci: cancel duplicate quality-gate runs
  .github/workflows/test.yaml
Due: none

ci: run the quality gate on pull requests only
  .github/workflows/test.yaml
Due: none

test: make script assertions workspace-independent
  tests/argocd-postsync.bats
  tests/external-secrets-postsync.bats
  tests/external-secrets-presync.bats
Due: none

build: simplify the repo quality gate (#121)
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  Taskfile.yaml
  scripts/validate-appset-inputs.sh
  scripts/validate-helm-apps.sh
  tests/argo-sync.bats
  tests/argocd-postsync.bats
  tests/external-secrets-postsync.bats
  tests/external-secrets-presync.bats
  tests/helm-lint.bats
  tests/helpers/test_helper.bash
  tests/prepare-bootstrap.bats
  tests/talos-bootstrap.bats
  tests/talos-gen.bats
  tests/talos-upgrade.bats
  tests/validate-appset-inputs.bats
Due: none

chore(deps): update dependencies (non-major)
  .github/workflows/test.yaml
  apps/argocd/argocd/app.yaml
  apps/media/unpackerr/values.yaml
  apps/selfhosted/renovate-operator/manifests/renovate-operator-home-ops.renovatejob.yaml
Due: none

chore(deps): update dependencies (major) to v6
  .github/workflows/test.yaml
Due: none
